<% if borrowed_books.any? %>
  <h2>Borrowed Books</h2>
  <table border="1">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Borrowed Date</th>
      <th>Due Date</th>
    </tr>
    <% borrowed_books.each do |borrowed_book| %>
    <% book = borrowed_book.book %>
      <tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.author_name %></td>
        <td><%= l(borrowed_book.created_at, format: :short) %></td>
        <td><%= l(borrowed_book.due_date, format: :short) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
